<div class="nav flex-row justify-content-end">
    <div class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="">About Us</NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="">Doctors & Specializations</NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="">Contact Us</NavLink>
    </div>
</div>